<div class="row" style="margin: auto;padding: 20px;max-height: 100%;overflow-y: scroll;">
<div id="unitName" class="col-sm-12 jumbotron" style="padding: 18px 30px;">
CCU 1
</div>
    <div class="col-xs-12 col-sm-12">

        <div class="box box-primary shadow-lg">
            <div class="box-header" style="cursor: move;">
                <h2 class="box-title" style="font-size: 20px;"><i class="fa fa-info txt-prim"></i> <span>Status</span>
                </h2>
                <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                  
                </div>
            </div>
            <div class="box-body">
                <div class="section" style="margin-top:8px;">
                    <div id="ccu-analog-status" class="container row" style="min-height: 100px;margin:auto;padding-bottom: 20px;">
                        <button class="btn btn-primary btn-sm" onclick="getData()"
                            style="position: absolute;right: 5px;top: 5px;">Refresh <i
                                class="fa fa-spinner"></i></button>
                        
                        <!-- <div class="col-lg-3 col-sm-4 col-xs-6" style="border-left: 3px solid blue;margin-top: 2rem;">Ambient humidity
                            <span style="border: 1px solid grey;border-radius: 5px;padding: 4px 15px;">153</span><span>
                                °C</span></div>
                        <div class="col-lg-3 col-sm-4 col-xs-6" style="border-left: 3px solid blue;margin-top: 2rem;">Ambient humidity
                            <span style="border: 1px solid grey;border-radius: 5px;padding: 4px 15px;">153</span><span>
                                %</span></div>
                        <div class="col-lg-3 col-sm-4 col-xs-6" style="border-left: 3px solid blue;margin-top: 2rem;">Ambient humidity
                            <span style="border: 1px solid grey;border-radius: 5px;padding: 4px 15px;">153</span><span>
                                %</span></div>
                        <div class="col-lg-3 col-sm-4 col-xs-6" style="border-left: 3px solid blue;margin-top: 2rem;">Ambient humidity
                            <span style="border: 1px solid grey;border-radius: 5px;padding: 4px 15px;">153</span><span>
                                °C</span></div> -->
                    </div>
                </div>

                <div class="box-footer">
                </div>


            </div>

        </div>
        <div class="box box-primary shadow-lg">
            <div class="box-header" style="cursor: move;">
                <h2 class="box-title" style="font-size: 20px;"><i class="fa fa-info txt-prim"></i> <span>On/Off</span>
                </h2>
                <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                    <!-- <div><span id="param_ONLINE" class="online" style="font-weight: 400;font-size:2rem;">ONLINE</span>
                    </div> -->
                </div>
            </div>
            <div class="box-body">
                <div class="section" style="margin-top:8px;">
                    <div id="ccu-digital-status" class="container row" style="min-height: 100px;margin:auto;">
                        <button class="btn btn-primary btn-sm" onclick="getData()"
                            style="position: absolute;right: 5px;top: 5px;">Refresh <i
                                class="fa fa-spinner"></i></button>
                       
                    </div>
                </div>

                <div class="box-footer">
                </div>


            </div>

        </div>
        <div class="box box-danger shadow-lg">
            <div class="box-header" style="cursor: move;">
                <h2 class="box-title" style="font-size: 20px;"><i class="fa fa-info txt-prim"></i> <span>Settings</span>
                </h2>
                <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                    <!-- <div><span id="param_ONLINE" class="online" style="font-weight: 400;font-size:2rem;">ONLINE</span>
                    </div> -->
                </div>
            </div>
            <div class="box-body">
                <div class="section" style="margin-top:8px;">
                    <div  id="settings-box" class="container-fluid" style="min-height: 100px;margin:auto;padding: 0;">
                        <button class="btn btn-primary btn-sm" onclick="getData()"
                            style="position: absolute;right: 5px;top: 5px;">Refresh <i
                                class="fa fa-spinner"></i></button>
                        <div class="container row" id="ccu-settings-analog" style="margin:auto;">

                        </div>
                        <hr>
                        <div class="container row" id="ccu-settings-digital" style="margin:auto;">

                        </div>
                        
                        <!-- <div class="col-lg-3 col-sm-6 row" style="border-left: 3px solid orange;margin-top: 2rem;">
                            <div class="col-sm-12" style="margin-top: 1rem;">Ambient humidity</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><input type="number" value="16.6" name=""
                                    id=""> °C</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><button
                                    class="btn btn-sm btn-success">Save</button></div>
                        </div>
                      
                        <div class="col-lg-3 col-sm-6 row" style="border-left: 3px solid orange;margin-top: 2rem;">
                            <div class="col-sm-12" style="margin-top: 1rem;">Ambient humidity</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><input type="number" value="16.6" name=""
                                    id=""> °C</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><button
                                    class="btn btn-sm btn-success">Save</button></div>
                        </div>
                        <div class="col-lg-3 col-sm-6 row" style="border-left: 3px solid orange;margin-top: 2rem;">
                            <div class="col-sm-12" style="margin-top: 1rem;">Ambient humidity</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><input type="number" value="16.6" name=""
                                    id=""> °C</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><button
                                    class="btn btn-sm btn-success">Save</button></div>
                        </div>
                        <div class="col-lg-3 col-sm-6 row" style="border-left: 3px solid orange;margin-top: 2rem;">
                            <div class="col-sm-12" style="margin-top: 1rem;">Ambient humidity</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><input type="number" value="16.6" name=""
                                    id=""> °C</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><button
                                    class="btn btn-sm btn-success">Save</button></div>
                        </div>
                        <div class="col-lg-3 col-sm-6 row" style="border-left: 3px solid orange;margin-top: 2rem;">
                            <div class="col-sm-12" style="margin-top: 1rem;">Ambient humidity</div>
                            <div class="col-sm-12" style="margin-top: 1rem;"><span style="border: 1px solid grey;border-radius: 5px;padding: 4px 15px;">ON</span> °C</div>
                            <div class="col-sm-12 row" style="margin-top: 1rem;margin-left: 0;">
                                <button class="btn btn-sm btn-success">ON</button>
                                <button class="btn btn-sm btn-danger">OFF</button>
                                </div>
                        </div> -->
                    </div>

                </div>

                <div class="box-footer">
                </div>


            </div>

        </div>

    </div>